## book feature k-means

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [ ]:
os.getcwd()

'C:\\python\\YES24\\2020-06-10'

In [ ]:
os.chdir('C:\\python\\YES24\\2020-06-10'+'/m3')

In [ ]:
book = pd.read_csv('book_feature_product_label.csv')

In [ ]:
book

,product_id,category_id,published,book_price,maker_label,best200,bestcat24
0,51205670,8.0,3,0,4510,0,0
1,51205708,3.0,3,2,2439,0,0
2,51205718,3.0,3,2,2439,0,0
3,51205795,8.0,3,0,1976,0,0
4,51205801,8.0,3,0,1976,0,0
...,...,...,...,...,...,...,...
284844,85352665,1.0,1,3,4865,0,0
284845,85353942,11.0,1,3,397,0,0
284846,85354052,1.0,1,3,887,0,0
284847,85354327,27.0,1,1,5677,0,0
284848,85354780,1.0,1,3,6875,0,0

In [ ]:
user = pd.read_csv('(나이)accounts_age_0623.csv')

In [ ]:
user.drop(columns=user.columns[0],inplace=True)

In [ ]:
user

,account_id,gender,age,g_age,address,address_is,last_login
0,102600,0.0,50.0,4.0,경상북도 포항시 남구 지곡동 효자그린1차아파트,1,2020-06-09 10:54:54
1,103417,0.0,40.0,3.0,경기 부천시 원미 심곡동,0,2020-05-12 14:57:49
2,105247,1.0,59.0,5.0,광주광역시 북구 일곡동 816-3 동아아파트,1,2020-01-20 05:09:15
3,109061,0.0,59.0,5.0,강원 동해시 천곡동 센트로빌아파트,1,2020-03-13 10:16:41
4,109217,0.0,46.0,4.0,경기 수원시 영통구 영통1동 황골마을1단지아파트,0,2020-03-09 11:32:04
...,...,...,...,...,...,...,...
1670270,16983289,1.0,48.0,4.0,경기도 안성시 공도읍 용두리 753 산수화아파트,0,2020-06-07 17:03:35
1670271,16983447,1.0,32.0,3.0,인천광역시 미추홀구 도화동 1008 e편한세상도화6-2단지,1,2020-06-07 20:09:03
1670272,16983639,0.0,32.0,3.0,충청남도 당진시 석문면 통정리 65-3,1,2020-06-08 00:10:53
1670273,16983644,1.0,16.0,1.0,경기도 시흥시 정왕동 2483 시흥배곧에스케이뷰,0,2020-06-09 00:07:42
1670274,16984035,1.0,25.0,2.0,인천광역시 계양구 작전동 857-19 영흥아파트,1,2020-06-08 06:22:51

In [ ]:
dummies = pd.get_dummies(user['g_age'],prefix='age')

In [ ]:
user_new = pd.concat([user,dummies],axis=1)

In [ ]:
user_new

,account_id,gender,age,g_age,address,address_is,last_login,age_0.0,age_1.0,age_2.0,age_3.0,age_4.0,age_5.0,age_6.0
0,102600,0.0,50.0,4.0,경상북도 포항시 남구 지곡동 효자그린1차아파트,1,2020-06-09 10:54:54,0,0,0,0,1,0,0
1,103417,0.0,40.0,3.0,경기 부천시 원미 심곡동,0,2020-05-12 14:57:49,0,0,0,1,0,0,0
2,105247,1.0,59.0,5.0,광주광역시 북구 일곡동 816-3 동아아파트,1,2020-01-20 05:09:15,0,0,0,0,0,1,0
3,109061,0.0,59.0,5.0,강원 동해시 천곡동 센트로빌아파트,1,2020-03-13 10:16:41,0,0,0,0,0,1,0
4,109217,0.0,46.0,4.0,경기 수원시 영통구 영통1동 황골마을1단지아파트,0,2020-03-09 11:32:04,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670270,16983289,1.0,48.0,4.0,경기도 안성시 공도읍 용두리 753 산수화아파트,0,2020-06-07 17:03:35,0,0,0,0,1,0,0
1670271,16983447,1.0,32.0,3.0,인천광역시 미추홀구 도화동 1008 e편한세상도화6-2단지,1,2020-06-07 20:09:03,0,0,0,1,0,0,0
1670272,16983639,0.0,32.0,3.0,충청남도 당진시 석문면 통정리 65-3,1,2020-06-08 00:10:53,0,0,0,1,0,0,0
1670273,16983644,1.0,16.0,1.0,경기도 시흥시 정왕동 2483 시흥배곧에스케이뷰,0,2020-06-09 00:07:42,0,1,0,0,0,0,0
1670274,16984035,1.0,25.0,2.0,인천광역시 계양구 작전동 857-19 영흥아파트,1,2020-06-08 06:22:51,0,0,1,0,0,0,0

In [ ]:
click = pd.read_csv("clicks_refined_train_0625.csv")

In [ ]:
click.drop(columns=click.columns[0],inplace=True)

In [ ]:
click_user = pd.merge(click, user, on='account_id',how='left')

MemoryError: Unable to allocate 589. MiB for an array with shape (3, 25724903) and data type int64